img{
    width: 50%;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan;
}

div{
    text-align: center;
}

body{
    background-image: url(Nubes.jpg);
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan; 
}